{
    "extends": "@callstack",
    "rules": {
      "react-native/no-unused-styles": 0,
      "react-native/split-platform-components": 0,
      "react-native/no-inline-styles": 0,
      "react-native/no-color-literals": 0,
      "react-native/no-raw-text": 0,
      "react-native/no-single-element-style-arrays": 0,
      "no-inner-declarations": "off",
      "react/no-unescaped-entities": 0
    },
    "env": {
      "browser": true
    }
  }